<mat-nav-list #item>
    @for (item of menulist; track item) {
        <a mat-list-item 
            [ngClass]="{
            'highlight-menu': selectedLeague==item
                }"
            (click)="setActiveLeague(item)"
            routerLink="/item">
            <span 
                [ngClass]="{
                    'highlight-menu-name': selectedLeague==item,
                    'menu-name': selectedLeague!=item,
                }">
                {{item | uppercase}}
            </span>
        </a>
    }
</mat-nav-list>
