.highlight-menu{
    background-color: white;
    color: black;
}

// .mat-list-item.active{
//     color: red !important;
// }

.menu-name{
 color: white;
}

.highlight-menu-name{
    color: black;
}