<mat-toolbar class="toolbar" color="primary" >
     <mat-toolbar-row>
         <div *ngIf="isSmallScreen" [ngClass]="!isSmallScreen? 'navigation': ''">
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon fontIcon="menu"></mat-icon>
            </button>
        </div>
        <div class="company">
            <span>NewYeti Sport</span>
        </div>

        <div class="fill-space"></div>

        <div *ngIf="!isSmallScreen">
            <button 
                mat-button
                [ngClass]="{
                    'highlight-menu': selectedLeague=='epl'
                }"
                (click)="setActiveLeague('epl')" 
                >EPL</button>
            
            <button 
                mat-button
                [ngClass]="{
                    'highlight-menu': selectedLeague=='laliga'
                }"
                (click)="setActiveLeague('laliga')" 
                >LA LIGA</button>
            
            <button 
                mat-button
                [ngClass]="{
                    'highlight-menu': selectedLeague=='seriea'
                }"
                (click)="setActiveLeague('seriea')" 
                >SERIE A</button>

            <button 
                mat-button
                [ngClass]="{
                    'highlight-menu': selectedLeague=='bundesliga'
                }"
                (click)="setActiveLeague('bundesliga')" 
                >BUNGESLIGA</button>

            <button 
                mat-button
                [ngClass]="{
                    'highlight-menu': selectedLeague=='ligue1'
                }"
                (click)="setActiveLeague('ligue1')" 
                >LIGUE 1</button>
        </div>

        <div class="fill-space"></div>
     </mat-toolbar-row>

     <mat-toolbar-row >
        <div class="fill-space"></div>
        <div class="button-row button-row-margin">
            <button mat-button 
                class="menu-button" 
                (click)="setActiveTab('fixture')"
                [ngClass]="selectedTab=='fixture'? 'stroke-button' : ''"
                routerLink="fixture">Matches</button>
            <button mat-button 
                class="menu-button" 
                (click)="setActiveTab('standings')"
                [ngClass]="selectedTab=='standings'? 'stroke-button' : ''"
                routerLink="standings">Standings</button>
            
            <button mat-button 
                class="menu-button" 
                (click)="setActiveTab('stat')"
                [ngClass]="selectedTab=='stat'? 'stroke-button' : ''"
                routerLink="stat">Stat</button>
            
            <button mat-button 
                class="menu-button" 
                (click)="setActiveTab('players')"
                [ngClass]="selectedTab=='players'? 'stroke-button' : ''"
                routerLink="players">Players</button>
        </div>

        <div class="fill-space"></div>
     </mat-toolbar-row>
</mat-toolbar>