

$md-primary: (
    50 : #e9eaea,
    100 : #c8cacc,
    200 : #a4a7aa,
    300 : #808487,
    400 : #64696e,
    500 : #494f54,
    600 : #010101,
    700 : #393f43,
    800 : #31363a,
    900 : #212629,
    A100 : #78c3fb,
    A200 : #46adfa,
    A400 : #0e98ff,
    A700 : #008bf4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
    50 : #ebe4f0,
    100 : #cebbd9,
    200 : #ad8ec0,
    300 : #8c61a6,
    400 : #743f93,
    500 : #5b1d80,
    600 : #531a78,
    700 : #49156d,
    800 : #401163,
    900 : #2f0a50,
    A100 : #bf85ff,
    A200 : #a452ff,
    A400 : #8a1fff,
    A700 : #7c06ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-warn: (
    50 : #f2e4e4,
    100 : #debbbb,
    200 : #c88d8d,
    300 : #b15f5f,
    400 : #a13d3d,
    500 : #901b1b,
    600 : #881818,
    700 : #7d1414,
    800 : #731010,
    900 : #610808,
    A100 : #ff9393,
    A200 : #ff6060,
    A400 : #ff2d2d,
    A700 : #ff1414,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


