@use '@angular/material' as mat;
@include mat.core();

@import './colors';

$footy-theme: mat.define-light-theme((
   color: (
    primary: mat.define-palette($md-primary),
    accent: mat.define-palette($md-accent),
    warn: mat.define-palette($md-warn)
   ),
   typography: mat.define-typography-config(),
   density: 0,
));

// @include mat.core-theme($footy-theme);
// @include mat.button-theme($footy-theme);
// @include mat.toolbar-theme($footy-theme);
@include mat.all-component-themes($footy-theme);