<app-layout>
   
    <div class="container">
        <mat-sidenav  
            #sidenav
            class="sidenav"
            [mode]="isSmallScreen? 'over' : 'side'" 
            [opened]="!isSmallScreen? false: ''"
            [fixedInViewport]="isSmallScreen" [fixedTopGap]="isSmallScreen? 58 : 130">
            <app-sidenav-list 
                (sidenavClose)="sidenav.close()"
                (selectedMenu)="setActiveMenu($event)" 
                [selectedLeague]="selectedSideMenu"></app-sidenav-list>
        </mat-sidenav>

        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav-content>
                <app-header 
                    (selectedMenu)="setActiveMenu($event)" 
                    [selectedLeague]="selectedSideMenu"
                    (sidenavToggle)="sidenav.toggle()"></app-header>
                <main class="main-container main-wrapper">
                    <router-outlet></router-outlet>
                </main>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</app-layout>