.circle { 
    display: inline-block; 
    line-height: 0px; 
    border-radius: 50%; 
    font-size: 11px; 
    color: white; 
    font-weight: normal;
    margin-right: 4px;
} 

.won{
  background-color: green; 
}

.drawn{
  background-color: gray;
}

.lost{
  background-color: red;
}

.circle span { 
    display: inline-block; 
    padding-top: 50%; 
    padding-bottom: 50%; 
    margin-left: 8px; 
    margin-right: 8px; 
} 

.mat-column-text-align {
  text-align: center;
}
