/* You can add global styles to this file, and also import other style files */
@import './app/theme';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {height: 100%;}
body { margin: 0px; font-family: Roboto, arial, sans-serif;}

:root {
    --primary-color: #494f54;
    --secondary-color: #e9eaea;
    --accent-color: #5b1d80;
    --warn-color: #901b1b;
    --navbar-footer-color: #FBFBFB;
    --body-text-color: #3f3e3e;
    --toolbar-background-color: #494f54;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--body-text-color);
}

.shadow-effect .mat-toolbar{
    border: none;
    box-shadow: 0px 0px 33px -10px rgb(71, 114, 254, 0.3);
}

.mt-1 {
    margin-top: 5px;
}

.mb-1 {
    margin-bottom: 5px;
}

.ms-1{
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 768px) {
  .menu-button{
    width: 200px;
}
}

// .mdc-list-item__primary-text{
//     color: red !important; /* Red color for primary text */
//     font-weight: bold; /* Example of making it bold */
// }